*{
    box-sizing: border-box;
}

#middle{
    background-color: #6ed3cf;
    height: 400px;
}

#bar-bottom{
    background-color: #8bf0ba;
}

#middle{
    padding: 100px;
}

#text{   
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#one
{
    font-size: 50px;
    color: #600473;
    padding-bottom: 0;
    margin-bottom: 0;
}


#two{
    font-size: 30px;
    color: #fbf579;
}

#button{
    text-align: center;
}

#text2{
    margin-top: 50px;
    text-align: center;
}

#category{
    justify-content: center;
}

.notshow{
    display: none;
}

.show{
    display: block;
    justify-content: center;
}

#sems1{
    justify-content: center;
}

#sems2{
    justify-content: center;
}